.add{
    width: 70%;
    margin-left: max(5vw,25px);
    margin-top: 50px;
    color: #6d6d6d;
    font-size: 16px;
}
.add form{
    gap: 20px;
}
.add-img-upload flex-col{
    width: 120px;
}
.add-prod-name, .add-prod-desc{
    width: max(40%,280px);
}
.add-prod-name input, add-prod-desc textarea{
    padding: 10px;

}
.add-category-price{
    display: flex;
    gap: 30px;
    
}
.add-category-price select, .add-category-price input{
    max-width: 120px;
    padding: 10px;
}
.add-btn{
    max-width: 120px;
    border: none;
    padding: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
}