.Head{
    height: 34vw;
    margin: 38px auto;
    background: url('/header_img.png');
    background-size: contain;
    position: relative;
}
.Head .Headcont{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap:1.5vw;
    max-width: 50%;
    bottom: 10%;
    left:6vw;
    animation: fadein 3s;
}
.Headcont h2{
    font-weight: 500;
    color: white;
    font-size: max(4.5vw,22px);
}
.Headcont p{
    color:white;
    font-size: 1vw;
}
.Headcont button{
    border: none;
    color: #747474;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: white;
    font-size: max(1vw,13px);
    border-radius: 50px;
}
@media(max-width:1050px){
    .Head{
        height: 38vw;
        }
    .Headcont{
        max-width: 45%;
    }
}
@media(max-width:750px){
    .Headcont{
        max-width: 55%;
    }
    .Headcont p{
        display: none;
    }
    .Headcont{
        padding: 2vw 4vw;
    }
}